{% extends 'AppSamuel/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        {% for curso in cursos %}
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Curso: {{ curso.nombre }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Camada: {{ curso.camada }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}