{% extends 'AppSamuel/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


{% for curso in cursos %}
    {% comment %} <li>Curso: {{ curso.nombre }} | Camada: {{ curso.camada }}</li> {% endcomment %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Curso: {{ curso.nombre }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Camada: {{ curso.camada }}</li>
        </ul>
    </div>
{% endfor %}


{% endblock main %}